# 서울시에서 공개한 코로나19 발생동향 분석

* https://www.seoul.go.kr/coronaV/coronaStatus.do

In [49]:
# 필요한 라이브러리를 불러옵니다

import pandas as pd

In [50]:
#크롤링으로 가져올 url 주소를 입력합니다

url = 'https://www.seoul.go.kr/coronaV/coronaStatus.do'
url

'https://www.seoul.go.kr/coronaV/coronaStatus.do'

In [51]:
# 판다스의 read_html을 통해 위 url에 있는 불러옵니다


table = pd.read_html(url)
table

[    강남구   강동구   강북구   강서구   관악구   광진구   구로구   금천구   노원구   도봉구  동대문구   동작구  \
 0  8589  5669  3830  6091  7263  4483  6885  3371  5619  3791  5435  5361
 1   +61   +51   +42   +80   +59   +41   +66   +55   +51   +60   +74   +47
 2  서대문구   서초구   성동구   성북구   송파구   양천구  영등포구   용산구   은평구   종로구    중구   중랑구
 3  3598  5345  3749  5628  8508  4482  6616  3452  5822  2449  2402  4977
 4   +32   +31   +28   +90   +78   +42   +97   +21   +61   +25   +34   +42

     마포구
 0  4809
 1   +43
 2    기타
 3  9553
 4   +90  ,
      강남구   강동구   강북구   강서구   관악구   광진구
 0   8589  5669  3830  6091  7263  4483
 1    +61   +51   +42   +80   +59   +41
 2    구로구   금천구   노원구   도봉구  동대문구   동작구
 3   6885  3371  5619  3791  5435  5361
 4    +66   +55   +51   +60   +74   +47
 5    마포구  서대문구   서초구   성동구   성북구   송파구
 6   4809  3598  5345  3749  5628  8508
 7    +43   +32   +31   +28   +90   +78
 8    양천구  영등포구   용산구   은평구   종로구    중구
 9   4482  6616  3452  5822  2449  2402
 10   +42   +97   +21   +61   +25   +34
 11   중랑구    기타   NaN   NaN   NaN   NaN
 12  4977  9553   NaN   NaN   NaN   NaN
 13   +42   +90   NaN   NaN   NaN   NaN,
       구 분   합 계  9세 이하  10세~19세  20세~29세  30세~39세  40세~49세  50세~59세  60세~69세  \
 0  확진자(명)  1401   67.0    139.0    130.0    155.0    158.0    203.0    312.0
 1   비율(%)   100    4.8      9.9      9.3     11.0     11.3     14.5     22.3

    70세 이상
 0   237.0
 1    16.9  ,
        일자   11.18.   11.17.   11.16.   11.15.   11.14.   11.13.   11.12.
 0  검사자(명)  87961.0  88342.0  87714.0  93363.0  46514.0  61429.0  81817.0
 1  확진자(명)   1401.0   1429.0   1436.0    846.0    858.0    978.0   1005.0
 2  확진율(%)      1.6      1.6      1.5      1.8      1.4      1.2      1.4,
        소계  해외 유입  강동구 소재 병원 관련('21.11.)  송파구 소재 시장 관련('21.11.)  \
 0  137777   1948                    163                     75

    송파구 소재 실내 체육 시설 관련('21.11.)  성북구 소재 실내 체육 시설 관련('21.11.)  기타 집단 감염  \
 0                           68                           34     28654

    기타 확진자 접촉  타시도 확진자 접촉  감염 경로 조사중
 0      54715        4539      47581  ,
 Empty DataFrame
 Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
 Index: [],
 Empty DataFrame
 Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
 Index: [],
                      일                    월                    화  \
 0                  NaN   1  120,239  (+646)   2  120,839  (+600)
 1   7  125,531  (+848)   8  126,238  (+707)   9  126,900  (+662)
 2  14  131,807  (+978)  15  132,665  (+858)  16  133,511  (+846)
 3                   21                   22                   23
 4                   28                   29                   30

                        수                      목                      금  \
 0   3  121,843  (+1,004)     4  122,789  (+946)     5  123,768  (+979)
 1    10  127,873  (+973)  11  128,876  (+1,003)    12  129,824  (+948)
 2  17  134,947  (+1,436)  18  136,376  (+1,429)  19  137,777  (+1,401)
 3                     24                     25                     26
 4                    NaN                    NaN                    NaN

                        토
 0     6  124,683  (+915)
 1  13  130,829  (+1,005)
 2                     20
 3                     27
 4                    NaN  ]

In [35]:
len(table)

8

In [44]:
# read_html은 사이트 내의 html 태그를 불러옵니다

table[4].T

                                  0
소계                           137777
해외 유입                          1948
강동구 소재 병원 관련('21.11.)           163
송파구 소재 시장 관련('21.11.)            75
송파구 소재 실내 체육 시설 관련('21.11.)      68
성북구 소재 실내 체육 시설 관련('21.11.)      34
기타 집단 감염                      28654
기타 확진자 접촉                     54715
타시도 확진자 접촉                     4539
감염 경로 조사중                     47581

In [48]:
# table  변수 안에 있는 table 태그으 ㅣ값을 하나씩 읽어보며 확진자 목록이 있는 테이블을 가져옵니다

df = tabel[5]
df

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [45]:
df.head()

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [55]:
file_name = f'seoul-covid19_{"1_1_2020"}.csv'
file_name

'seoul-covid19_1_1_2020.csv'

In [64]:
# csv로 열때 

df.to_csv(file_name, index = False)

In [65]:
pd.read_csv(file_name)

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []

In [66]:
# 엑셀에서 열어볼때

df.to_csv(file_name, index = False, encoding = 'cp949')

In [67]:
pd.read_csv(file_name, encoding = 'cp949')

Empty DataFrame
Columns: [연번, 환자, 확진일, 거주지, 여행력, 접촉력, 퇴원현황]
Index: []